.expenses-filter{
    color: white;
    padding:0rem 1rem;
}
.expenses-filter__control{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 1rem 0;
}
.expenses-filter label{
    font-weight: bold;
    font-size:x-large;
    margin-bottom: 0.5rem;
}
.expenses-filter select{
    font: inherit;
    padding:0.5rem 3rem;
    font-weight: bold;
    font-size: medium;
    border-radius: 7px;
}