.expenses{
    padding: 1.2rem;
    background-color: rgb(31, 31, 31);
    margin: 2rem auto;
    width: 100rem;
    max-width: 95%;
}
@media(max-width:600px) {
    .expenses{
        padding: 0.2rem;
        margin: 1rem auto;
    }
}